<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- links section -->
<head th:replace="venderlayout/layouts.html :: head">links
</head>
<link rel="stylesheet" href="/mylibraries/css/style1.css">
<!-- *********** -->
<style>
.addProductSec {
	height: 460px;
}

.white-box.analytics-info.box_white.counter {
	height: 150px;
}
</style>
<body style="font-family: Roboto, sans-serif;">
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">

		<!-- header section -->
		<div th:replace="venderlayout/layouts.html :: header">header
			section</div>

		<!-- ******** -->

		<div th:replace="venderlayout/layouts.html :: sidemenu"></div>

		<!-- body of this page -->

		<div class="page-wrapper wrapper_page">
			<div class="page-breadcrumb bg-white white_bg">
				<div class="row align-items-center">
					<div class="col-lg-9 col-md-4 col-sm-4 col-xs-12 mb-3">
						<h4 class="page-title title_page">Add Product</h4>
					</div>
				</div>
				<div class="dashboardBox">
					<div class="container-fluid">

						<div class="contact py-sm-5 py-4">
							<div class="container py-xl-4 py-lg-2">
								<!-- form -->
								<form id="saveimageform"
									th:action="@{/vender/image/saveImageDetails}" method="post"
									enctype="multipart/form-data" th:Object="${product}">
									<div class="contact-grids1 w3agile-6">
										<div class="row">
											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Product Name</label> <input
													type="text" class="form-control" placeholder="Product Name"
													id="name" name="productname" required="required">
												<p id="error_name"></p>
											</div>
											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Product Description</label>
												<textarea class="form-control"
													placeholder="Product Description" id="description" rows="3"
													cols="45" name="description" required="required"></textarea>
												<p id="error_description"></p>
											</div>

											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Price</label> <input
													type="text" class="form-control" placeholder="Price"
													name="price" id="price" required="required">
												<p id="error_price"></p>
											</div>

											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Product Quantity</label> <input
													type="text" class="form-control" placeholder="Quantity"
													name="quantity" id="quantity" required="required">
												<p id="error_price"></p>
											</div>
											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Product Link</label> <input
													type="text" class="form-control" placeholder="link"
													name="link" id="link" required="required">
												<p id="error_price"></p>
											</div>
											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Product Image</label> <input
													type="file" class="form-control" placeholder=""
													name="image" id="image" required="required">
												<p id="error_file"></p>
											</div>
											<div class="col-md-6 col-sm-6 contact-form1 form-group">
												<label class="col-form-label">Add Product Category</label> <select
													class="form-select" id="category" name="category" required>
													<option>Select the category</option>
													<option th:each="pCategory : ${category}" name="category"
														th:value="${pCategory.categoryTitle}" th:text="${pCategory.categoryTitle}">
													</option>
												</select>
											</div>


										</div>

										<div class="right-w3l col-md-12">
											<input type="submit" id="submit"
												class="btn btn-primary form-control" value="Submit">
											<a href="/vender/image/show"
												class="btn btn-success form-control">Show All</a>
										</div>





									</div>
									<br>
									<div id="success" class="text-center" style="color: green;"></div>
									<div id="error" class="text-center" style="color: red;"></div>
								</form>
							</div>
						</div>



						<p class="text-center">
							<img src="/images/loader.gif" alt="loader"
								style="width: 150px; height: 120px;" id="loader">
						</p>

						<!-- ============================================================== -->

					</div>

				</div>





			</div>


			<!-- add product modal form -->






			<!-- end add product modal form -->

			<!-- footer section -->
			<footer th:replace="venderlayout/layouts.html :: footer"></footer>

			<!--  links  -->
			<div th:replace="venderlayout/layouts.html :: script-links"></div>


			<!-- <script src="/mylibraries/js/customjs/product.js" ></script> -->


			<script>
				$(document).ready(function() {
					$('.counter-value').each(function() {
						$(this).prop('Counter', 0).animate({
							Counter : $(this).text()
						}, {
							duration : 3500,
							easing : 'swing',
							step : function(now) {
								$(this).text(Math.ceil(now));
							}
						});
					});
				});
			</script>
</body>

</html>