<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,nofollow">
<title>gogoGlobal.LIFE</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="mylibraries/images/favicon.png"  th:href="@{/mylibraries/images/favicon.png}">
<!-- Custom CSS -->
<link th:href="@{/mylibraries/css/style.min.css}" rel="stylesheet">
<link th:href="@{/mylibraries/css/responsive.css}" rel="stylesheet">
</head>
<style>
.success {
	color: green;
}
</style>
<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<div class="forget-password-detail-area">
			<div class="forget-password-left-area left_area">
				<!-- <a th:href="@{/mylibraries/dashboard}" type="submit">  --><img
					th:src="@{/mylibraries/images/logopng.png}" alt="logo-img">
			<!-- 	</a> -->
			</div>
			<div class="forget-password-input-area right_area_back-image">
				<div class="forget-password-left-area">
					<!-- <a th:href="@{/mylibraries/business-panel-dashboard}" type="submit">  --><img
						th:src="@{/mylibraries/images/logopng.png}" alt="logo-img">
					<!-- </a> -->
				</div>

				<div th:if="${param.logout}">
					<h5 class="text-center text-success">logout successful</h5>
				</div>
				<div th:if="${param.error}">
					<h5 class="text-danger text-success">login error</h5>
				</div>


				<form th:action="@{/vender/dologin}" method="post" class="right_area" autocomplete="off" id="login-form">
					<div class="login">
						<h2>Login In</h2>
					</div>
					<div class="login-input-box">
						<input type="email" id="email" name="email"
							class="form-control input_area" placeholder="Enter Email ID"
							required="required"><small></small>
					</div>
					<div class="login-input-box">
						<input type="password" id="password" name="password"
							class="form-control input_area" placeholder="Enter Password"
							required="required"><small></small>
					</div>
					<div class="login-resset-btn-area">
						<div class="email-submit-btn-area submit_area">
							<input type="submit" class="email-submit-btn btn_submit" value="submit" /> 
						</div>
						<div class="email-submit-btn-area forget_login">
							<a href="forget-password" type="submit" th:href="@{/forgot-password}"
								class="email-submit-btn btn_login">Forgot Password?</a>
						</div>
					</div>
					
					<div class="signup_area">
						<p>
							Not a member?<a th:href="@{/registerUser}"> Sign up now</a>
						</p>
					</div>
				</form>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->


 <div th:replace="userlayout/layouts.html :: script-customLinks" ></div>


</body>

</html>
