<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns:th="http://www.thymeleaf.org">

<!-- head section replace from layouts -->
<head th:replace="userlayout/layouts.html :: head"></head>

<body style="font-family: Roboto, sans-serif;">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        
  		<!--  header section -->
		<div th:replace="userlayout/layouts.html :: header">header
			section</div>

		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<div th:replace="userlayout/layouts.html :: sidemenu"></div>




        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper wrapper_page" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
          <div class="container-fluid white_bg">
             <div class="row">
              <div class="col-lg-12">
                <div class="application-detail-heading-area">
                 <h2 class="noti_detail">My Affiliate </h2>
                </div>
                <div class="table-data-search-box">
                 <div class="search">
                  <input type="text" class="searchTerm" placeholder="Search">
                  <button type="submit" class="searchButton">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                 </div>  
                </div>
               <div class="manage-admins-main-area">
                <div class="manage-admins-table-area">
                 <table class="table cenetr">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone No</th>
                        <th>Date</th>
                        <th>Product Image</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>9874563214</td>
                        <td>Mar 18, 2021</td>
                        <td>
                            <div class="images">
                                <img src="./images/alejandro-luengo--c1-ZT-hLzM-unsplash.jpg" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
                            <a href="#" class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>9874563214</td>
                        <td>Mar 18, 2021</td>
                        <td>
                            <div class="images">
                                <img src="./images/alexandra-tran-_ieSbbgr3_I-unsplash.jpg" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
                            <a href="#" class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>9874563214</td>
                        <td>Mar 18, 2021</td>
                        <td>
                            <div class="images">
                                <img src="./images/pat-taylor-12V36G17IbQ-unsplash.jpg" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
                            <a href="#" class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>9874563214</td>
                        <td>Mar 18, 2021</td>
                        <td>
                            <div class="images">
                                <img src="./images/pmv-chamara-xXmt_9OmANw-unsplash.jpg" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
                            <a href="#" class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>9874563214</td>
                        <td>Mar 18, 2021</td>
                        <td>
                            <div class="images">
                                <img src="./images/nordwood-themes-Nv4QHkTVEaI-unsplash.jpg" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
                            <a href="#" class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>john@example.com</td>
                        <td>9874563214</td>
                        <td>Mar 18, 2021</td>
                        <td>
                            <div class="images">
                                <img src="./images/marissa-grootes-D4jRahaUaIc-unsplash.jpg" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                        <td>
                            <a href="#" class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
                            <a href="#" class="mange-admins-dlt-btn"><i class="far fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>   
                </div>
               </div> 
              </div>
            </div>
         </div>
            <!-- ============================================================== -->

            <!-- footer -->
            <!-- ============================================================== -->
			</footer>
			<footer th:replace="userlayout/layouts.html :: footer"></footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
	<div th:replace="userlayout/layouts.html :: script-links"></div>

</body>

</html>