<!DOCTYPE html>
<html dir="ltr" lang="en"  xmlns:th="http://www.thymeleaf.org">

<!-- head section replace from layouts -->
<head th:replace="userlayout/layouts.html :: head"></head>

<body style="font-family: Roboto, sans-serif;">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        
  		<!--  header section -->
		<div th:replace="userlayout/layouts.html :: header">header
			section</div>

		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<div th:replace="userlayout/layouts.html :: sidemenu"></div>




        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper wrapper_page" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
          <div class="container-fluid white_bg">
             <div class="row">
              <div class="col-lg-12">
                <div class="application-detail-heading-area">
                 <h2 class="noti_detail">My Affiliate </h2>
                </div>
                <div class="table-data-search-box">
                 <div class="search">
                  <input type="text" class="searchTerm" placeholder="Search">
                  <button type="submit" class="searchButton">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                 </div>  
                </div>
               <div class="manage-admins-main-area">
                <div class="manage-admins-table-area">
                 <table class="table cenetr">
                    <thead>
                      <tr>
                        <th>Sl No</th>
                        <th>Affiliate Id</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Product links</th>
                        <th>Created Date</th>
                        <th>Total shared links</th>
                      </tr>
                    </thead>
                    <tbody th:if="${affiliatelist}" >
                      <tr th:each="mydata, iStart : ${affiliatelist}">
                      <td th:text=${iStart.count}/> 
                        <td th:text="${mydata.getAffiliateId()}"/>
                        <td th:text="${mydata.getProductName()}"/>
                        <td>
                            <div class="images">
                                <img src="./images/marissa-grootes-D4jRahaUaIc-unsplash.jpg" th:text="${mydata.getProductImage()}" alt="unsplash" width="100px" height="100px">
                            </div>
                        </td>
                         <td th:text="${mydata.getProductLinks()}"/>
                         <td th:text="${mydata.getCreatedDate()}"/>
                         <td th:text="${mydata.getTotalSharedLinks()}"/>
                      </tr>
                    </tbody>
                    <tbody th:if="${noDataMsg}">
                    <tr>
                    <td colspan="7" th:text="${noDataMsg}" style="text-align: center;"></td>
                    </tr>
                    </tbody>
                  </table>   
                </div>
               </div> 
              </div>
            </div>
         </div>
            <!-- ============================================================== -->

            <!-- footer -->
            <!-- ============================================================== -->
			</footer>
			<footer th:replace="userlayout/layouts.html :: footer"></footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
	<div th:replace="userlayout/layouts.html :: script-links"></div>

</body>

</html>