<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head section replace from layouts -->
<head th:replace="userlayout/layouts.html :: head"></head>

<body style="font-family: Roboto, sans-serif;">
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">

		<!--  header section -->
		<div th:replace="userlayout/layouts.html :: header">header
			section</div>

		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<div th:replace="userlayout/layouts.html :: sidemenu"></div>

		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper wrapper_page" style="min-height: 250px;">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div
				class="container-fluid fluid_container responsive_container pt-3 white_bg">
				<div class="row responsive_row">
					<div class="col-lg-12">
						<div class="application-detail-heading-area">
							<h2 class="noti_detail">Settings</h2>
							<div  th:text="${success}" th:if="${success}"></div>
							
						</div>
						<!-- <div class="send-notifications-btn-area">
                 <a href="#" class="send-notifications-btn">Send Notification</a>   
                </div> -->
					</div>
					<div class="col-lg-12">
						<div class="setting-tab-detail-main-area main_area_tab_setting">
							<div class="setting-tab-main-area tab_setting_main_area">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active tab-btn link_nav"
											id="manage-profile-tab" data-bs-toggle="tab"
											data-bs-target="#manage-profile" type="button" role="tab"
											aria-controls="manage-profile" aria-selected="false">
											<i class="fa fa-user" aria-hidden="true"> </i><span
												class="responsive_icon">Manage Profile</span>
										</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link tab-btn link_nav"
											id="change-password-tab" data-bs-toggle="tab"
											data-bs-target="#change-password" type="button" role="tab"
											aria-controls="change-password" aria-selected="true">
											<i class="fa fa-lock" aria-hidden="true"></i><span
												class="responsive_icon">Change Password</span>
										</button>
									</li>
								</ul>
							</div>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="manage-profile"
									role="tabpanel" aria-labelledby="manage-profile-tab">
									<div class="row">
										<div class="col-lg-5">
											<div class="setting-tab-heading-area">
												<h2>Personal Info</h2>
											</div>
											<!-- <div class="add-payment-heading-area">
                        <h2>Photo</h2> 
                    </div> -->
											<div
												class="setting-profile-detail-main-area responsive_width">
												<div class="user-photo-main-area">
													<div class="user-img-area">
														<img src="images/user-img.jpg" alt="user img">
													</div>
													<div class="change-photo-btn-area">
														<label for="edit" class="change-poto-btn edit_btn">
															<i class="fa fa-camera" aria-hidden="true"></i>
														</label> <input type="file" id="edit" class="edit-file">
													</div>
												</div>
												<div class="user-detail-main-area">
													<div class="row space_left">
														<div class="col-lg-6 col_lg_six">
															<div class="personal-information-heading">
																<h2>First Name</h2>
																<h2>Last Name</h2>
																<h2>Email ID</h2>

																<h2>mobile</h2>
																<h2>Gender</h2>
																<h2>City</h2>
																<h2>Country</h2>
																<h2>Address</h2>
																<h2>zip</h2>
																<h2>State</h2>
															</div>
														</div>
														<div class="col-lg-6 col_lg_six">
															<div class="personal-information-details">
																<p th:text="${user_details.firstname}"></p>
																<p th:text="${user_details.lastname}"></p>
																<p th:text="${user_details.email}"></p>

																<p th:text="${user_details.mobile}"></p>
																<p th:text="${user_details.gender}"></p>
																<p th:text="${user_details.city}"></p>
																<p th:text="${user_details.country}"></p>
																<p th:text="${user_details.address}"></p>
																<p th:text="${user_details.zip}"></p>
																<p th:text="${user_details.state}"></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="setting-tab-heading-area">
												<h2>Personal Details</h2>
											</div>
											<div class="setting-profile-detail-input-area">
												<form class="contact-form-main-area"
													th:action="@{/user/updateMyUser}" method="post" 
													id="paymentFrm">
													<div class="row">
														<div class="col-lg-6">
															<div class="form-group">
																<label>First Name</label> <input type="text"
																	th:field="${user_details.firstname}"
																	class="form-control field change_border"
																	name="firstname" placeholder="Enter First Name"
																	autofocus="" required="" id="name">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Last Name</label> <input type="text"
																	class="form-control field change_border"
																	name="lastname" placeholder="Enter Last Name"
																	th:field="${user_details.lastname}" autofocus=""
																	required="" id="lastname">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Email ID</label> <input type="email"
																	th:field="${user_details.email}"
																	class="form-control field change_border" name="email"
																	placeholder="Enter Email ID" autofocus="" required=""
																	id="email">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Contact Number</label> <input type="tel"
																	th:field="${user_details.mobile}"
																	class="form-control field change_border" name="mobile"
																	placeholder="Enter Contact Number" autofocus=""
																	id="mobile">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Gender</label>
																<div class="profile-input-box-area">
																	<select class="form-control change_border"
																		name="gender" th:field="${user_details.gender}"
																		id="gender">
																		<option value=" ">Select Gender</option>
																		<option value="male">Male</option>
																		<option value="female">Female</option>
																		<option value="other">Other</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Address</label> <input type="text"
																	th:field="${user_details.address}"
																	class="form-control field change_border" name="address"
																	placeholder="Enter Address" autofocus="" id="address">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Country</label> <input type="text"
																	th:field="${user_details.country}"
																	class="form-control field change_border" name="country"
																	placeholder="Enter Country" autofocus="" id="country">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>State</label> <input type="text"
																	th:field="${user_details.state}"
																	class="form-control field change_border" name="state"
																	placeholder="Enter State" autofocus="" id="state">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>City</label> <input type="text"
																	th:field="${user_details.city}"
																	class="form-control field change_border" name="city"
																	placeholder="Enter City" autofocus="" id="city">
															</div>
														</div>
														<div class="col-lg-6">
															<div class="form-group">
																<label>Postal/ZIP Code</label> <input type="text"
																	th:field="${user_details.zip}"
																	class="form-control field change_border" name="zip"
																	placeholder="Enter Postal/ZIP Code" autofocus=""
																	id="zip">
															</div>
														</div>
														<div class="col-lg-12">
															<div class="contact-form-submint-btn-area">
																<button type="submit"
																	class="contact-form-submint-btn btn_submit">Submit</button>
															</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="change-password" role="tabpanel"
									aria-labelledby="change-password-tab">
									<form th:action="@{/user/changePassword}" method="post"
										id="changePassword">
										<div class="row">
											<div class="col-lg-12">
												<div class="setting-tab-heading-area">
													<h2>Change Password</h2><small th:if="${messageP}"></small>
												</div>
											</div>
										</div>
										<div class="change-password-input-box-area">
											<div class="row">
												<div class="col-lg-3">
													<div class="change-password-lavel-area">
														<h2>Old Password</h2>
													</div>
												</div>
												<div class="col-lg-9">
													<div class="change-password-input-box">
														<input type="password" id="oldPassword" name="oldPassword"
															class="form-control change_border"
															placeholder="Enter Old Password">
															<small></small>
													</div>
												</div>
											</div>
										</div>
										<div class="change-password-input-box-area">
											<div class="row">
												<div class="col-lg-3">
													<div class="change-password-lavel-area">
														<h2>New Password</h2>
													</div>
												</div>
												<div class="col-lg-9">
													<div class="change-password-input-box">
														<input type="password" id="password" name="password"
															class="form-control change_border"
															placeholder="Enter New Password">
															<small></small>
													</div>
												</div>
											</div>
										</div>
										<div class="change-password-input-box-area">
											<div class="row">
												<div class="col-lg-3">
													<div class="change-password-lavel-area">
														<h2>Confirm Password</h2>
													</div>
												</div>
												<div class="col-lg-9">
													<div class="change-password-input-box">
														<input type="password" id="confirm-password"
															name="confirmPassword" class="form-control change_border"
															placeholder="Enter Confirm Password">
															<small></small>
													</div>
												</div>
											</div>
										</div>
										<div class="change-password-submit-area">
											<button type="submit"
												class="submit-password-change-btn btn_submit">Change password</button>
												
										</div>
									</form>
								</div>
								<!-- <div class="tab-pane fade" id="purchase-plan" role="tabpanel" aria-labelledby="purchase-plan-tab">
                 <p>3</p>
                </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->

			</footer>
			<footer th:replace="userlayout/layouts.html :: footer"></footer>

		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>


	<div th:replace="userlayout/layouts.html :: script-links"></div>

	<script>

		const oldPasswordEl = document.querySelector('#oldPassword');
		const passwordEl = document.querySelector('#password');
		const confirmPasswordEl = document.querySelector('#confirm-password');

		const form = document.querySelector('#changePassword');
		const checkOldPassword = () => {
		    let valid = false;

		    const oldPassword = oldPasswordEl.value.trim();

		    if (!isRequired(oldPassword)) {
		        showError(oldPasswordEl, 'Password cannot be blank.');
		    } else if (!isOldPasswordSecure(oldPassword)) {
		        showError(oldPasswordEl, 'Password must has at least 8 characters that include at least 1 lowercase character, 1 uppercase characters, 1 number, and 1 special character in (!@#$%^&*)');
		    } else {
		        showSuccess(oldPasswordEl);
		        valid = true;
		    }

		    return valid;
		};	
		
		
		const isOldPasswordSecure = (oldPassword) => {
		    const re = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
		    return re.test(oldPassword);
		};


		const checkPassword = () => {
		    let valid = false;

		    const password = passwordEl.value.trim();

		    if (!isRequired(password)) {
		        showError(passwordEl, 'Password cannot be blank.');
		    } else if (!isPasswordSecure(password)) {
		        showError(passwordEl, 'Password must has at least 8 characters that include at least 1 lowercase character, 1 uppercase characters, 1 number, and 1 special character in (!@#$%^&*)');
		    } else {
		        showSuccess(passwordEl);
		        valid = true;
		    }

		    return valid;
		};

		const checkConfirmPassword = () => {
		    let valid = false;
		    // check confirm password
		    const cPassword = confirmPasswordEl.value.trim();
		    const mypassword = passwordEl.value.trim();

		    if (!isRequired(cPassword)) {
		        showError(confirmPasswordEl, 'Please enter the password again');
		    } else if (mypassword !== cPassword) {
		        showError(confirmPasswordEl, 'The password does not match');
		    } else {
		        showSuccess(confirmPasswordEl);
		        valid = true;
		    }

		    return valid;
		};

		const isPasswordSecure = (password) => {
		    const re = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
		    return re.test(password);
		};


		const isRequired = value => value === '' ? false : true;
		const isBetween = (length, min, max) => length < min || length > max ? false : true;


		const showError = (input, message) => {
		    // get the form-field element
		    const formField = input.parentElement;
		    // add the error class
		    formField.classList.remove('success');
		    formField.classList.add('error');

		    // show the error message
		    const error = formField.querySelector('small');
		    error.textContent = message;
		};

		const showSuccess = (input) => {
		    // get the form-field element
		    const formField = input.parentElement;

		    // remove the error class
		    formField.classList.remove('error');
		    formField.classList.add('success');

		    // hide the error message
		    const error = formField.querySelector('small');
		    error.textContent = '';
		}


		form.addEventListener('submit', function (e) {
		    // prevent the form from submitting
		    e.preventDefault();

		    // validate fields
		    let isOldPasswordValid = checkOldPassword(),
		        isPasswordValid = checkPassword(),
		        isConfirmPasswordValid = checkConfirmPassword();

		    let isFormValid = isOldPasswordValid &&
		    isPasswordValid &&
		    isConfirmPasswordValid;

		    // submit to the server if the form is valid
		    if (isFormValid) {
		    	document.getElementById("changePassword").submit();
		    }
		});


		const debounce = (fn, delay = 500) => {
		    let timeoutId;
		    return (...args) => {
		        // cancel the previous timer
		        if (timeoutId) {
		            clearTimeout(timeoutId);
		        }
		        // setup a new timer
		        timeoutId = setTimeout(() => {
		            fn.apply(null, args)
		        }, delay);
		    };
		};

		form.addEventListener('input', debounce(function (e) {
		    switch (e.target.id) {

		        case 'oldPassword':
		            checkEmail();
		            break;
		        case 'password':
		            checkPassword();
		            break;
		        case 'mypassword':
		            checkConfirmPassword();
		            break;
		    }
		}));
		
	</script>

<script>

</script>
</body>

</html>