<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title>gogoGlobal.LIFE</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link href="./css/fontawesome.min.css" rel="stylesheet">
    <link href="./css/responsive.css" rel="stylesheet">
</head>

<body style="font-family: Roboto, sans-serif;">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar top_header responsive_head" data-navbarbg="skin5">
          <nav class="navbar top-navbar navbar-expand-md navbar-dark">
              <div class="navbar-header" data-logobg="skin6">
                  <!-- Logo -->
                  <a class="navbar-brand navbar_logo" href="dashboard.html">
                      <span class="logo-icon icon_logo">
                          <img src="images/logopng.png" alt="logo-img"> 
                      </span>
                  </a>
                  <!-- toggle and nav items -->
                  <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                      href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
              </div>
              <i class='fas fa-bars' style='color: #4691ce; font-size: 22px; margin-left: 10px;'></i>
              <!-- ============================================================== -->
              <!-- End Logo -->
              <!-- ============================================================== -->
              <div class="navbar-collapse collapse collapse_navbar" id="navbarSupportedContent" data-navbarbg="skin5">
                  <ul class="navbar-nav d-none d-md-block d-lg-none">
                      <li class="nav-item">
                          <a class="nav-toggler nav-link waves-effect waves-light text-white"
                              href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                      </li>
                  </ul>
                  <!-- ============================================================== -->
                  <!-- Right side toggle and nav items -->
                  <!-- ============================================================== -->
                  <ul class="navbar-nav ms-auto d-flex align-items-center">
                      <li class=" in">
                          <form role="search" class="app-search d-none d-md-block me-3">
                              <input type="text" placeholder="Search..." class="form-control mt-0 border_color">
                              <a href="" class="active">
                                  <i class="fa fa-search" style="color: #4691ce;"></i>
                              </a>
                          </form>
                      </li>
                      
                      <li class="dropdown">
                          <a class="profile-pic" href="profile-details.html" class="dropdown-toggle" data-bs-toggle="dropdown">
                              <img src="plugins/images/users/varun.jpg" alt="user-img" width="36"
                                  class="img-circle"><span class="text-white font-medium">Steave <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                          </a>
                          <ul class="dropdown-menu profileDropdown">
                            <li><a class="dropdown-item" href="profile-details.html">Profile</a></li>
                            <li><a class="dropdown-item" href="settings.html">Setting</a></li>
                            <li><a class="dropdown-item" href="login.html">Log Out</a></li>
                          </ul>
                      </li>

                      <li class="notification_bell">
                          <a href="#" class="color_white"><i class="fas fa-bell"></i></a>
                          <span class="noti_number">5</span>
                      </li>
                      <li class="comment_chat">
                          <a href="#" class="color_white"><i class="far fa-comment-alt"></i></a>
                          <span class="chat_number">7</span>
                      </li>
                      <!-- ============================================================== -->
                      <!-- User profile and search -->
                      <!-- ============================================================== -->
                  </ul>
              </div>
          </nav>
      </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
         <aside class="left-sidebar left_aside" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                  <ul id="sidebarnav" class="nav_bar_side">
                      <!-- User Profile-->
                      <li class="sidebar-item pt-2">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./business-panel-dashboard.html"
                              aria-expanded="false">
                              <i class="fas fa-tachometer-alt leftside_icon"></i>
                              <span class="hide-menu">Dashboard</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./my-affiliate.html"
                              aria-expanded="false">
                              <i class="fas fa-user-plus leftside_icon"></i>
                              <span class="hide-menu">My Affiliate</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./sales_by_affiliate.html"
                              aria-expanded="false">
                              <i class="fas fa-users leftside_icon"></i>
                              <span class="hide-menu">Sales By Affiliate </span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./payment.html"
                              aria-expanded="false">
                              <i class="fas fa-users leftside_icon"></i>
                              <span class="hide-menu">Total Sale</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./setting.html"
                              aria-expanded="false">
                              <i class="fas fa-cog leftside_icon"></i>
                              <span class="hide-menu">Settings</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./notification.html"
                              aria-expanded="false">
                              <i class="fas fa-bell leftside_icon"></i>
                              <span class="hide-menu">Notifications</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./faq.html"
                              aria-expanded="false">
                              <i class="fas fa-question-circle leftside_icon"></i>
                              <span class="hide-menu">FAQ</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./contact-us.html"
                              aria-expanded="false">
                              <i class="fas fa-address-card leftside_icon"></i>
                              <span class="hide-menu">Contact Us</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./term-condition.html"
                              aria-expanded="false">
                              <i class="fas fa-certificate leftside_icon" aria-hidden="true"></i>
                              <span class="hide-menu">Terms & Conditions</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./privacy-policy.html"
                              aria-expanded="false">
                              <i class="fas fa-file-alt leftside_icon"></i>
                              <span class="hide-menu">Privacy & Policy</span>
                          </a>
                      </li>
                      <li class="sidebar-item">
                          <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./login.html"
                              aria-expanded="false">
                              <i class="fas fa-power-off leftside_icon"></i>
                              <span class="hide-menu">Log Out</span>
                          </a>
                      </li>
                  </ul>
              </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper wrapper_page" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
          <div class="container-fluid fluid_container responsive_container pt-3 white_bg">
             <div class="row">
              <div class="col-lg-12">
               <div class="application-detail-heading-area">
                 <h2 class="noti_detail">Notifications</h2> 
                </div> 
               <!-- <div class="frequently-detail-main-area">
                <div class="contact-heading-area">
                 <h2>Frequently Asked Questions</h2> 
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>   
                </div>
               </div> -->
               <div class="faq-accordian-main-area notification-arrow-hide-parents">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item items_accordion">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                       <div class="notification-detail-main-area">
                        <div class="notification-user-img">
                         <img src="images/user-img.jpg" alt="user img">   
                        </div>
                        <div class="notification-heading-main-area">
                         <h2>Wrapped Bitcoin is now listed on Unity Exchange</h2>
                         <p class="time_area">25 min ago</p>
                        </div>
                        <div class="notification-dlt-main-area dlt_area">
                         <i class="fa fa-trash" aria-hidden="true"></i>   
                        </div>
                       </div>
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<a href="./notification-details.html" class="read_more"> Read more...</a></div>
                    </div>
                  </div>
                  <div class="accordion-item items_accordion">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <div class="notification-detail-main-area">
                        <div class="notification-user-img">
                         <img src="images/user-img.jpg" alt="user img">   
                        </div>
                        <div class="notification-heading-main-area">
                         <h2>Vivamus tortor, odio viverra malesuada sapien dui.</h2>
                         <p class="time_area">30 min ago</p>
                        </div>
                        <div class="notification-dlt-main-area dlt_area">
                         <i class="fa fa-trash" aria-hidden="true"></i>   
                        </div>
                       </div>
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.<a href="./notification-details.html" class="read_more"> Read more...</a></div>
                    </div>
                  </div>
                  <div class="accordion-item items_accordion">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <div class="notification-detail-main-area">
                         <div class="notification-user-img">
                          <img src="images/user-img.jpg" alt="user img">   
                        </div>
                        <div class="notification-heading-main-area">
                         <h2>Srapped Citcoin is now listed on Unity Exchange</h2>
                         <p class="time_area">45 min ago</p>
                        </div>
                        <div class="notification-dlt-main-area dlt_area">
                         <i class="fa fa-trash" aria-hidden="true"></i>   
                        </div>
                       </div>
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.<a href="./notification-details.html" class="read_more"> Read more...</a></div>
                    </div>
                  </div>
                  <div class="accordion-item items_accordion">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                      data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <div class="notification-detail-main-area">
                          <div class="notification-user-img">
                           <img src="images/user-img.jpg" alt="user img">   
                         </div>
                        <div class="notification-heading-main-area">
                         <h2>Trapped Eitcoin is now listed on Unity Exchange</h2>
                         <p class="time_area">50 min ago</p>
                        </div>
                        <div class="notification-dlt-main-area dlt_area">
                         <i class="fa fa-trash" aria-hidden="true"></i>   
                        </div>
                       </div>
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.<a href="./notification-details.html" class="read_more"> Read more...</a></div>
                    </div>
                  </div>
                  <div class="accordion-item items_accordion">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                      data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <div class="notification-detail-main-area">
                          <div class="notification-user-img">
                           <img src="images/user-img.jpg" alt="user img">   
                         </div>
                        <div class="notification-heading-main-area">
                         <h2>Lindy Uikit on trending</h2>
                         <p class="time_area">15 min ago</p>
                        </div>
                        <div class="notification-dlt-main-area dlt_area">
                         <i class="fa fa-trash" aria-hidden="true"></i>   
                        </div>
                       </div>
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.<a href="./notification-details.html" class="read_more"> Read more...</a></div>
                    </div>
                  </div>
                  <div class="accordion-item items_accordion">
                    <h2 class="accordion-header" id="flush-headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                      data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <div class="notification-detail-main-area">
                          <div class="notification-user-img">
                           <img src="images/user-img.jpg" alt="user img">   
                         </div>
                        <div class="notification-heading-main-area">
                         <h2>Urapped Bitcoin is now listed on Unity Exchange</h2>
                         <p class="time_area">45 min ago</p>
                        </div>
                        <div class="notification-dlt-main-area dlt_area">
                         <i class="fa fa-trash" aria-hidden="true"></i>   
                        </div>
                       </div>
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.<a href="./notification-details.html" class="read_more"> Read more...</a></div>
                    </div>
                  </div>
                </div>   
                </div>
              </div>
            </div>
         </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
                    href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer> -->
            <footer class="footer text-center footer_text"> 2022 © All rights reserved. <a class="footer_link"
              href="#">gogoGlobal</a>
          </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.js"></script>
</body>

</html>