<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org" >

<!-- head section replace from layouts -->
<head th:replace="userlayout/layouts.html :: head"></head>
<body style="font-family: Roboto, sans-serif;">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        		<div th:replace="userlayout/layouts.html :: header">header
			section</div>

		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<div th:replace="userlayout/layouts.html :: sidemenu"></div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper wrapper_page" style="min-height: 250px;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
          <div class="container-fluid fluid_container responsive_container pt-3 white_bg">
             <div class="row responsive_row">
              <div class="col-lg-12">
               <div class="application-detail-heading-area">
                 <h2 class="noti_detail">Total Sale</h2> 
                </div>
                <!-- <div class="send-notifications-btn-area">
                 <a href="#" class="send-notifications-btn">Send Notification</a>   
                </div> --> 
              </div>
              <div class="col-lg-12">
               <div class="setting-tab-detail-main-area main_area_tab_setting">
               <div class="setting-tab-main-area tab_setting_main_area">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                 <li class="nav-item" role="presentation">
                    <button class="nav-link active tab-btn link_nav" id="manage-profile-tab" data-bs-toggle="tab" data-bs-target="#manage-profile" type="button" role="tab" aria-controls="manage-profile" aria-selected="false"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="responsive_icon">Total Earn</span></button>
                 </li>   
                 <li class="nav-item" role="presentation">
                  <button class="nav-link tab-btn link_nav" id="change-password-tab" data-bs-toggle="tab" data-bs-target="#change-password" type="button" role="tab" aria-controls="change-password" aria-selected="true"><i class="fa-regular fa-hand-holding-dollar"></i><span class="responsive_icon">Rewards wallet</span></button>
                 </li>
                 <li class="nav-item" role="presentation">
                    <button class="nav-link tab-btn link_nav" id="purchase-plan-tab" data-bs-toggle="tab" data-bs-target="#purchase-plan" type="button" role="tab" aria-controls="purchase-plan" aria-selected="false"><span class="responsive_icon">Withdraw rewards</span></button>
                 </li>
                 
                </ul>
               </div>
               <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="manage-profile" role="tabpanel" aria-labelledby="manage-profile-tab">   
                 <div class="row">
                    <div class="setting-tab-heading-area">
                        <h2>Total Sale</h2>
                       </div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Sl No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product SerialNo</th>
                            <th scope="col">Total Sold</th>
                            <th scope="col">Price</th>
                            <th scope="col">Commission</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                        </thead>
                      <tbody th:if="${affiliatelist}" >
                      <tr th:each="mydata, iStart : ${affiliatelist}">
                      <td th:text=${iStart.count}/> 
                        <td th:text="${mydata.getProductName()}"/>
                         <td th:text="${mydata.getProductSerialNo()}"/>
                         <td th:text="${mydata.getTotalSold()}"/>
                         <td th:text="${'$'+mydata.getPriceOfProduct()}"/>         
                         <td th:text="${'$'+mydata.getCommission()}"/>
                         <td th:text="${'$'+mydata.getSubTotal()}"/>
                      </tr>
                    </tbody>
                    <tbody th:if="${noDataMsg}">
                    <tr>
                    <td colspan="7" th:text="${noDataMsg}" style="text-align: center;"></td>
                    </tr>
                    </tbody>
  
                      
                      </table>
                      <div class="row">
                        <div class="col-12 text-right">
                            <p class="lead"><b>Payment Due</b><span class="text-danger"> 14/08/2018 </span></p>
                
                            <div>
                                <p>Sub - Total amount  :  $7,200.00</p>
                                <p>Tax (18%)  :  $1296.00</p>
                                <p>Shipping  :  $100.00</p>
                            </div>
                            <div class="total-payment">
                                <h3><b>Total :</b> $8,596.00</h3>
                            </div>
                
                        </div>
                        <!-- /.col -->
                      </div>
             </div> 
            </div>
                <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab"> 
                <div class="row">
                  <div class="col-lg-12">
                   <div class="setting-tab-heading-area">
                    <h2>Rewards wallet</h2>
                   </div> 
                  </div>    
                 </div>  
                 <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Avilable to Withdraw</th>
                        <th scope="col">Total Earn</th>
                        <th scope="col">Total Withdraw</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>$500.00</td>
                        <td style="width: 140px; color: rgb(20, 133, 100);">+$2500.00</td>
                        <td style="width: 140px; color: rgb(219, 84, 42);">-$2000.00</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-lg-12">
                     <div class="setting-tab-heading-area">
                      <h2>Transaction</h2>
                     </div> 
                    </div>    
                   </div> 
                   <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Discription</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Referal Credit</td>
                        <td>03 Dec 2021 07:30 PM</td>
                        <td>Complete</td>
                        <td style="color: rgb(20, 133, 100);">+$1000</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Reward Withdraw</td>
                        <td>25 Nov 2021 07:57 PM</td>
                        <td>Complete</td>
                        <td style="color: rgb(219, 84, 42);">-$500</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Referal Credit</td>
                        <td>25 Nov 2021 07:25 PM</td>
                        <td>Complete</td>
                        <td style="color: rgb(20, 133, 100);">+$500</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Reward Withdraw</td>
                        <td>23 Nov 2021 12:57 PM</td>
                        <td>Complete</td>
                        <td style="color: rgb(219, 84, 42);">-$500</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="purchase-plan" role="tabpanel" aria-labelledby="purchase-plan-tab"> 
                  <div class="row">
                    <div class="col-lg-12">
                     <div class="setting-tab-heading-area">
                      <h2>Securities wallet</h2>
                     </div> 
                    </div>    
                   </div>  
                   <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Avilable to Withdraw</th>
                          <th scope="col">Total Earn</th>
                          <th scope="col">Total Withdraw</th>
                          
                      </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>$500.00</td>
                          <td style="width: 140px; color: rgb(20, 133, 100);">+$2500.00</td>
                          <td style="width: 140px; color: rgb(219, 84, 42);">-$2000.00</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row withdraw_fund">
                      <div class="col">
                        <div class="fund">
                          <span>How Much Would You Like To Withdraw</span>
                        </div>
                        <form action="">
                          <input type="text" placeholder="$ 200.00" class="input">
                          <div>
                            <button type="button" class="continue">continue</button>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                       <div class="setting-tab-heading-area">
                        <h2>Transaction</h2>
                       </div> 
                      </div>    
                     </div> 
                     <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Discription</th>
                          <th scope="col">Requested On</th>
                          <th scope="col">Status</th>
                          <th scope="col">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Withdraw funds via QUARTERLY_WITHDRAWAL</td>
                          <td>03 Dec 2021</td>
                          <td>Complete</td>
                          <td style="color: rgb(20, 133, 100);">+$1000</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Deposited to BANK OF SPAIN • • • • 1382</td>
                          <td>25 Nov 2021</td>
                          <td>Complete</td>
                          <td style="color: rgb(219, 84, 42);">-$500</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Deposited to BANK OF SPAIN • • • • 1382</td>
                          <td>25 Nov 2021</td>
                          <td>Complete</td>
                          <td style="color: rgb(20, 133, 100);">+$500</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Deposited to BANK OF SPAIN • • • • 1382</td>
                          <td>23 Nov 2021</td>
                          <td>Complete</td>
                          <td style="color: rgb(219, 84, 42);">-$500</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
               </div>
              </div>
              </div>
            </div>
         </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
                    href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer> -->
            <!-- footer -->
            <!-- ============================================================== -->
			</footer>
			<footer th:replace="userlayout/layouts.html :: footer"></footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
<div th:replace="userlayout/layouts.html :: script-customLinks"></div>
</body>

</html>