<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head section replace from layouts -->
<head th:replace="userlayout/layouts.html :: head"></head>

<body style="font-family: Roboto, sans-serif;">
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">

		<!--  header section -->
		<div th:replace="userlayout/layouts.html :: header">header
			section</div>
		<!-- ============================================================== -->

		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<div th:replace="userlayout/layouts.html :: sidemenu"></div>

		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper white_bg" style="min-height: 250px;">

			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid fluid_container pt-3">
				<div class="row responsive_row">
					<div class="application-detail-heading-area">
						<h2 class="noti_detail">Profile</h2>
					</div>
					<div class="col-lg-5 lg_col">
						<!--  <div class="application-detail-heading-area">
                 <h2 class="info_personal">Personal Info</h2>
               </div> -->
						<!-- <div class="add-payment-heading-area">
                <h2>Photo</h2> 
               </div> -->
						<div
							class="profile-detail-main-area main_area_profile_detail responsive_width">
							<div class="user-photo-main-area">
								<div class="user-img-area">
									<img th:src="@{/myuser/images/user-img.jpg}" alt="user img">
								</div>
								<div class="change-photo-btn-area">
									<label for="edit" class="change-poto-btn edit_btn"> <i
										class="fa fa-camera" aria-hidden="true"></i>
									</label> <input type="file" id="edit" class="edit-file">
								</div>
							</div>

							<div class="user-detail-main-area">
								<div class="row space_left">
									<div class="col-lg-6 col_lg_six">
										<div class="personal-information-heading">
											<h2>First Name</h2>
											<h2>Last Name</h2>
											<h2>Email ID</h2>
											
											<h2>mobile</h2>
											<h2>Gender</h2>
											<h2>City</h2>
											<h2>Country</h2>
											<h2>Address</h2>
											<h2>zip</h2>
											<h2>State</h2>
											
										</div>
									</div>
									<div class="col-lg-6 col_lg_six">
										<div class="personal-information-details">
											<p th:text="${user_details.firstname}"></p>
											<p th:text="${user_details.lastname}"></p>
											<p th:text="${user_details.email}"></p>
											
											<p th:text="${user_details.mobile}"></p>
											<p th:text="${user_details.gender}"></p>
											<p th:text="${user_details.city}"></p>
											<p th:text="${user_details.country}"></p>
											<p th:text="${user_details.address}"></p>
											<p th:text="${user_details.zip}"></p>
											<p th:text="${user_details.state}"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<!--  <div class="application-detail-heading-area">
                 <h2 class="info_personal">Profile Details</h2>
               </div> -->
						<!-- <div class="profile-detail-input-area input_area_profile_detail">th:href="@{'/user/profile-details/'+${user_details.userid}}"
							<form class="contact-form-main-area" th:action="@{'/user/updateUser/' +${user_details.userid}}"  method="get"
								 id="paymentFrm" >
								<div class="row space_left">
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>First Name</label> <input type="text"
												class="form-control field change_border" name="firstname"
												placeholder="Enter First Name" autofocus="" required="" th:field="${user_details.firstname}"
												id="firstname" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Last Name</label> <input type="text" value="Smith"
												class="form-control field change_border" name="lastname"
												placeholder="Enter Last Name" autofocus=""  required="" th:field="${user_details.lastname}"
												id="lastname" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Email ID</label> <input type="email" th:field="${user_details.email}"
												
												class="form-control field change_border" name="email"
												placeholder="Enter Email ID" autofocus="" required=""
												id="email" >
										</div>
									</div>
																		<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Password </label> <input type="password" 
												
												class="form-control field change_border" name="password"
												placeholder="Enter password ID" autofocus="" required=""
												id="password" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Contact Number</label> <input type="number" th:field="${user_details.mobile}"
												class="form-control field change_border"
												name="mobile" placeholder="Enter Contact Number"
												autofocus="" required="" id="mobile" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Gender</label>
											<div class="profile-input-box-area">
												<select class="form-control change_border" name="gender" th:field="${user_details.gender}"
													id="cars">
													<option value="">Select Gender</option>
													<option value="male">Male</option>
													<option value="female">Female</option>
													<option value="other">Other</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Address</label> <input type="text" 
												class="form-control field change_border" name="address"
												placeholder="Enter Address" autofocus="" th:field="${user_details.address}"
												id="address" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Country</label> <input type="text"
												class="form-control field change_border" name="country"
												placeholder="Enter Country" autofocus="" th:field="${user_details.country}"
												id="country" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>State</label> <input type="text" th:field="${user_details.state}"
												class="form-control field change_border" name="state"
												placeholder="Enter State" autofocus="" 
												id="state" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>City</label> <input type="text"
												class="form-control field change_border" name="city"
												placeholder="Enter City" autofocus="" th:field="${user_details.city}"
												id="city" >
										</div>
									</div>
									<div class="col-lg-6 lg_col_6">
										<div class="form-group">
											<label>Postal/ZIP Code</label> <input type="text"
												class="form-control field change_border" name="zip"
												placeholder="Enter Postal/ZIP Code" autofocus="" th:field="${user_details.zip}"
												id="zip" >
										</div>
									</div>
									<div class="col-lg-12 lg_col_6">
										<div class="contact-form-submint-btn-area">
											<button type="submit"
												class="contact-form-submint-btn btn_submit">
												Submit
												</submit>
										</div>
									</div>
								</div>
							</form>
						</div> -->
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<!-- <footer class="footer text-center"> 2021 © Ample Admin brought to you by <a
                    href="https://www.wrappixel.com/">wrappixel.com</a>
            </footer> -->
	<footer th:replace="userlayout/layouts.html :: footer"></footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- footer section -->

	
	<!-- scripts links -->
	<div th:replace="userlayout/layouts.html :: script-links" ></div>
</body>

</html>