<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,nofollow">
<title>gogoGlobal.LIFE</title>
<link rel="icon" type="image/png" sizes="16x16"
	href="images/favicon.png" th:src="@{/mylibraries/images/favicon.png}">
<link href="plugins/bower_components/chartist/dist/chartist.min.css"
	th:href="@{/mylibraries/plugins/bower_components/chartist/dist/chartist.min.css}"
	rel="stylesheet">
<link rel="stylesheet"
	href="plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css"
	th:href="@{/mylibraries/plugins/bower_components/chartist/dist/chartist.min.css}">
<!-- Custom CSS -->
<link href="./css/style.min.css"
	th:href="@{/mylibraries/css/style.min.css}" rel="stylesheet">
<link href="./css/fontawesome.min.css"
	th:href="@{/mylibraries/css/fontawesome.min.css}" rel="stylesheet">
<link href="./css/responsive.css"
	th:href="@{/mylibraries/css/responsive.css}" rel="stylesheet">
<link th:href="@{/mylibraries/bootstrap/dist/css/bootstrap.min.css}" />

<script
	th:src="@{/mylibraries/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<style type="text/css">
.switchToggle input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
	position: absolute;
}

.switchToggle label {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	max-width: 70px;
	height: 30px;
	background: #d1d1d1;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switchToggle label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switchToggle input:checked+label, .switchToggle input:checked+input+label
	{
	background: #3e98d3;
}

.switchToggle input+label:before, .switchToggle input+input+label:before
	{
	content: 'No';
	position: absolute;
	top: 5px;
	left: 35px;
	width: 26px;
	height: 26px;
	border-radius: 90px;
	transition: 0.3s;
	text-indent: 0;
	color: #fff;
}

.switchToggle input:checked+label:before, .switchToggle input:checked+input+label:before
	{
	content: 'Yes';
	position: absolute;
	top: 5px;
	left: 10px;
	width: 26px;
	height: 26px;
	border-radius: 90px;
	transition: 0.3s;
	text-indent: 0;
	color: #fff;
}

.switchToggle input:checked+label:after, .switchToggle input:checked+input+label:after
	{
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switchToggle label:active:after {
	width: 60px;
}

.toggle-switchArea {
	margin: 10px 0 10px 0;
}

.edit-view-box {
	padding: 5px;
}

.edit-view-box a {
	width: 75px;
	border-radius: 25px;
	background-image: radial-gradient(red, yellow, green);
}
</style>
</head>

<body style="font-family: Roboto, sans-serif;">
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->

		<!--  header section -->
		<div th:replace="super-admin-layout/layouts.html :: header">header
			section</div>
		<!-- ============================================================== -->
		<!-- End Topbar header -->

		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<div th:replace="super-admin-layout/layouts.html :: sidemenu"></div>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper wrapper_page" style="min-height: 250px;">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="container-fluid white_bg">
				<div class="row">
					<div class="col-lg-12">
						<div class="application-detail-heading-area">
							<h2 class="noti_detail">Product List</h2>
							<!-- <div
								class="alert alert-success d-flex alert-dismissible fade show"
								role="alert" th:if="${session.successOk}">
								<strong>Success!</strong><span >Item updated successfully...</span>
								<button type="button" class="btn-close" data-bs-dismiss="alert"
									aria-label="Close" ></button>
							</div>
							<th:block th:inline="text" th:if="${session.successOk}"
								style="display:none;"> [[${#session.removeAttribute('successOk')}]]</th:block> -->
						</div>
						<div class="table-data-search-box">
							<div class="search">
								<input type="text" class="searchTerm" placeholder="Search">
								<button type="submit" class="searchButton">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</div>
						<div class="manage-admins-main-area">
							<div class="manage-admins-table-area">
								<table class="table cenetr">
									<thead>
										<tr>
											<th>Sl no</th>
											<th>Product ID</th>
											<th>Product Image</th>
											<th>Affiliate id</th>
											<th>Product Name</th>
											<th>Created Date</th>
											<th>Product Link</th>
											<th>Generated Link</th>
											<th>Product Price</th>
											<th>Rate</th>
											<th>Unpaid referals</th>
											<th>Paid referals</th>
											<th>Total sold</th>
											<th>view</th>
										</tr>
									</thead>
									<tbody th:if="${affiliatelist}">
										<tr th:each="mydata, iStart : ${affiliatelist}">
											<td th:text=${iStart.count} />
											<td th:text="${mydata.productId}" />
											<td><img
												th:src="@{${'/image/display/'+ mydata.productId}}"
												class="card img-fluid" style="width: 200px; height: 100px;"
												alt="" /></td>
											<td th:text="${mydata.affiliateid}" />
											<td th:text="${mydata.productName}" />
											<td th:text="${mydata.createdDate}" />
											<td th:text="${mydata.productLinks}" />
											<td th:text="${mydata.generatedLinks}" />
											<td th:text="${mydata.priceOfProduct}" />
											<td th:text="${mydata.rate}" />
											<td th:text="${mydata.unpaidreferals}" />
											<td th:text="${mydata.paidreferals}" />
											<td th:text="${mydata.totalSold}" />
											<td><a href="./admin-details.html"
												th:href="@{/admin/affiliatersData}"
												class="mange-admins-edit-btn"><i class="fas fa-eye"></i></a>
											</td>
										</tr>
									</tbody>
									<tbody th:if="${no_record}">
										<tr>
											<td colspan="12" th:text="${no_record}"
												style="text-align: center;"></td>
										</tr>
									</tbody>
								</table>


							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- End Container fluid  -->
			<!-- ============================================================== -->
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<footer th:replace="super-admin-layout/layouts.html :: footer"></footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- End Wrapper -->
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<div th:replace="super-admin-layout/layouts.html :: script-links"></div>
</body>





<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>











</html>