<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- links section -->
<head th:replace="super-admin-layout/layouts.html :: head">links
</head>
<link th:href="@{/mylibraries/css/active_inactive.css}" rel="stylesheet" />
<style>
.edit-view-box {
	padding: 5px;
}

.edit-view-box button {
	width: 75px;
	border-radius: 25px;
	/* background-image: radial-gradient(red, yellow, green); */
}

.edit-view-box a {
	width: 75px;
	border-radius: 25px;
	/* background-image: radial-gradient(red, yellow, green); */
}
</style>

<body style="font-family: Roboto, sans-serif;">
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<!--  <div class="preloader">
		<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
		</div>
	</div>  -->
	<!-- ============================================================== -->
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
		data-sidebartype="full" data-sidebar-position="absolute"
		data-header-position="absolute" data-boxed-layout="full">
		<!-- ============================================================== -->
		<!-- Topbar header - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<header class="topbar top_header responsive_head"
			data-navbarbg="skin5">
			<nav class="navbar top-navbar navbar-expand-md navbar-dark">
				<div class="navbar-header" data-logobg="skin6">
					<!-- Logo -->
					<!--   <a class="navbar-brand navbar_logo" href="dashboard.html" th:href="@{/vender/home}"> -->
					<span class="logo-icon icon_logo  navbar-brand navbar_logo">
						<img src="./myuser/images/logopng.png"
						th:src="@{/mylibraries/images/logopng.png}" alt="logo-img">
					</span>
					<!--   </a>  -->
					<!-- toggle and nav items -->
					<a
						class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
						href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
				</div>
				<i class='fas fa-bars'
					style='color: #4691ce; font-size: 22px; margin-left: 10px;'></i>
				<!-- ============================================================== -->
				<!-- End Logo -->
				<!-- ============================================================== -->
				<div class="navbar-collapse collapse collapse_navbar"
					id="navbarSupportedContent" data-navbarbg="skin5">
					<ul class="navbar-nav d-none d-md-block d-lg-none">
						<li class="nav-item"><a
							class="nav-toggler nav-link waves-effect waves-light text-white"
							href="javascript:void(0)"><i class="ti-menu ti-close"></i></a></li>
					</ul>
					<!-- ============================================================== -->
					<!-- Right side toggle and nav items -->
					<!-- ============================================================== -->
					<ul class="navbar-nav ms-auto d-flex align-items-center">
						<!-- <li class=" in">
							<form role="search" class="app-search d-none d-md-block me-3">
								<input type="text" placeholder="Search..."
									class="form-control mt-0 border_color"> <a href=""
									class="active"> <i class="fa fa-search"
									style="color: #4691ce;"></i>
								</a>
							</form>
						</li> -->

						<li class="dropdown"><a class="profile-pic"
							data-bs-toggle="dropdown" href="#"> <img
								src="/mylibraries/plugins/images/users/varun.jpg"
								th:src="@{/mylibraries/plugins/images/users/varun.jpg}"
								alt="user-img" width="36" class="img-circle"> <span
								class="text-white font-medium" th:text="${session.fullname}"
								th:if="${session.fullname}"> <i class="fa fa-caret-down"
									aria-hidden="true"></i>
							</span></a> <!--  <ul class="dropdown-menu profileDropdown">
                              <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="profile-details.html" th:href="@{/vender/profile-details}" type="submit" method="get">Profile</a></li>
                              <li sec:authorize="isAuthenticated()" ><a class="dropdown-item" href="./setting.html" th:href="@{/vender/settings}" >Setting</a></li>
                              <li sec:authorize="isAuthenticated()"><a class="dropdown-item" href="login.html" th:href="@{/vender/logout}" >Log Out</a></li>
                            </ul> --></li>

						<li class="notification_bell"><a href="#" class="color_white"><i
								class="fas fa-bell"></i></a> <span class="noti_number">5</span></li>
						<!-- ============================================================== -->
						<!-- User profile and search -->
						<!-- ============================================================== -->
					</ul>
				</div>
			</nav>
		</header>
		<!-- ============================================================== -->
		<!-- End Topbar header -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<div th:replace="super-admin-layout/layouts.html :: sidemenu"></div>
		<!-- ============================================================== -->
		<!-- End Left Sidebar - style you can find in sidebar.scss  -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Page wrapper  -->
		<!-- ============================================================== -->
		<div class="page-wrapper wrapper_page" style="min-height: 250px;">
			<!-- ============================================================== -->
			<!-- Bread crumb and right sidebar toggle -->
			<!-- ============================================================== -->
			<div class="container-fluid white_bg">
				<div class="row">
					<div class="col-lg-12">
						<div class="application-detail-heading-area">
							<h2 class="noti_detail">View Detalis</h2>
							<div
								class="alert alert-success d-flex alert-dismissible fade show"
								role="alert" th:if="${session.successOk}">
								<strong>Success!</strong><span th:text="${session.successOk}">Action
									done successfully...</span>
								<button type="button" class="btn-close" data-bs-dismiss="close"
									aria-label="Close"></button>
							</div>
							<th:block th:inline="text" th:if="${session.successOk}"
								style="display:none;"> [[${#session.removeAttribute('successOk')}]]</th:block>



						</div>
						<div class="table-data-search-box">
							<div class="search">
								<input type="text" class="searchTerm" placeholder="Search">
								<button type="submit" class="searchButton">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</div>
						<div class="manage-admins-main-area">
							<div class="manage-admins-table-area">
								<table class="table">
									<thead>
										<tr>
											<th>Sl No</th>
											<th>Vender Name</th>
											<th>Phone</th>
											<th>Image</th>
											<th>Email</th>
											<th>Action</th>
											<th>view Productlist</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody th:if="${venderlist}">
										<tr th:each="venderdata, iStart : ${venderlist}">
											<td th:text="${iStart.count}">1</td>
											<td
												th:text="${venderdata.firstname + ' '+venderdata.lastname}">demo</td>
											<td th:text="${venderdata.mobile}">no data</td>

											<td>
												<div th:if="${venderdata.image}">
													<img src="images/demo-face.jpg"
														th:src="@{${'/super-admin/vender-icon/'+ venderdata.venderid}}"
														width="36" alt="">
												</div>
												<div th:unless="${venderdata.image}"></div>
											</td>
											<td th:text="${venderdata.email}">john@example.com</td>

											<td>



												<form
													th:action="@{/super-admin/delete-vender(id=${venderdata.venderid})}"
													th:method="post">

													<button type="submit" class="btn btn-danger">delete</button>

												</form>


											</td>
											<td>

												<form
													th:action="@{/super-admin/product-list(id=${venderdata.venderid})}"
													th:method="post">
													<button type="submit" class="btn btn-success">view
														productlist</button>
												</form>

											</td>
											<td><label class="active-switch"> <input
													class="active-switch-input" type="checkbox"
													th:id="${'venderid'+venderdata.venderid}"
													th:onclick="vendertStatus([[${venderdata.venderid}]])" />
													<span class="active-switch-label" data-on="Active"
													data-off="Inactive"></span> <span
													class="active-switch-handle"></span>
											</label></td>
										</tr>
									</tbody>
									<tbody th:if="${no_vender}">
										<tr>
											<td colspan="12" th:text="${no_vender}"
												style="text-align: center;"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- footer section -->
			<footer th:replace="super-admin-layout/layouts.html :: footer"></footer>
			<!-- ============================================================== -->
			<!-- End footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- End Page wrapper  -->
		<!-- ============================================================== -->
	</div>

  <div th:replace="super-admin-layout/layouts.html :: script-customLinks"></div>   


	<script>
		function vendertStatus(id) {
			var venderstatus;
			if ($("#venderid" + id).is(":checked")) {
				venderstatus = "1";
			} else {
				venderstatus = "0";
			}

			$.ajax({
				type : 'POST',
				url : '/super-admin/vender-status',
				data : {
					id : id,
					venderstatus : venderstatus
				},
				success : function(data) {
				}
			});
		}
	</script>



</body>



</html>