<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Meta Tag -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name='copyright' content=''>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>GogoGLOBAL.LIFE</title>
<link rel="icon" type="image/png" href="images/favicon.png"
	th:href="@{/mylibraries/images/webimg/favicon.png}">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="css/bootstrap.css"
	th:href="@{/mylibraries/css/webcss/bootstrap.css}">
<link rel="stylesheet" href="css/font-awesome.css"
	th:href="@{/mylibraries/css/webcss/font-awesome.css}">
<link rel="stylesheet" href="css/themify-icons.css"
	th:href="@{/mylibraries/css/webcss/themify-icons.css}">
<link rel="stylesheet" href="css/niceselect.css"
	th:href="@{/mylibraries/css/webcss/niceselect.css}">
<link rel="stylesheet" href="css/animate.css"
	th:href="@{/mylibraries/css/webcss/animate.css}">
<link rel="stylesheet" href="css/owl-carousel.css"
	th:href="@{/mylibraries/css/webcss/owl-carousel.css}">
<link rel="stylesheet" href="css/slicknav.min.css"
	th:href="@{/mylibraries/css/webcss/slicknav.min.css}">
<link rel="stylesheet" href="css/reset.css"
	th:href="@{/mylibraries/css/webcss/reset.css}">
<link rel="stylesheet" href="css/style.css"
	th:href="@{/mylibraries/css/webcss/style.css}">
<link rel="stylesheet" href="css/responsive.css"
	th:href="@{/mylibraries/css/webcss/responsive.css}">


</head>



<style>
.single-product .product-img {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 344px;
}

.single-product .product-img a {
	display: initial;
}

.single-product .product-img a img {
	width: 100%;
	height: 100%;
	object-fit: initial;
}

.product-action span.shareicon {
	position: absolute;
	bottom: 50px;
	right: 4px;
	width: 34px;
	background: #fff;
	text-align: center;
	display: none;
	transition: .6s;
	z-index: 99999;
}

.producteshare:hover i+.shareicon {
	display: block;
	transition: .6s;
}

.single-product .product-img span.shareicon a {
	margin-right: 0 !important;
	height: 48px !important;
}

span.producteshare {
	padding: 12px 0;
	padding-right: 16px;
}
</style>
<body class="js">


	<!-- Header -->

	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +91 (000) 000-000</li>
								<li ><i class="ti-email"></i> <span>webnmobapps146@gmail.com</span></li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<p th:if="${myEmail}" th:text="${myEmail}"></p>
					<div class="col-lg-7 col-md-12 col-12">
						<div class="right-content">
							<ul class="list-main" th:unless="${session.myEmail}">
								<li><i class="ti-user"></i> <a href="#!"
									th:href="@{/vender/login}">Become a vendor</a></li>
								<li><i class="ti-user"></i> <a href="#!"
									th:href="@{/registerUser}">Become a affiliate</a></li>
								<li><a th:href="@{/customer/login}"><i
										class="ti-power-off"></i>Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="#"><img src="images/logo.png" alt="logo"
								th:src="@{/mylibraries/images/webimg/logo.png}"></a>
						</div>
						<div class="search-top">
							<div class="top-search">
								<a href="#0"><i class="ti-search"></i></a>
							</div>

							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit">
										<i class="ti-search"></i>
									</button>
								</form>
							</div>
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">All Category</option>
									<option>watch</option>
									<option>mobile</option>
									<option>kid’s item</option>
								</select>
								<form>
									<input name="search" placeholder="Search Products Here....."
										type="search">
									<button class="btnn">
										<i class="ti-search"></i>
									</button>
								</form>
							</div>
						</div>
					</div>

					<style>
/* a.userProfile{
					position:relative;
					}
					  ul.userprofileDropdown {
						    background: #fff;
						    min-width: 122px;
						    position: absolute;
						    max-width: 100%;
						    box-shadow: -1px 0px 6px #c3c3c3;
						    border-radius:3px;
						    left:0;
						    z-index:9999;
						    display:none;
						}
					  ul.userprofileDropdown .dropdown-item {
						    display: block;
						    width: 100%;
						    padding: 0;
						    clear: both;
						    font-weight: 400;
						    color: #212529;
						    text-align: inherit;
						    white-space: nowrap;
						    border: 0;
						}
						ul.userprofileDropdown .dropdown-item a{
						    display: block;
						    width: 100%;
						    padding: 0.25rem 0.5rem;
						    color:#333;
						}
						ul.userprofileDropdown .dropdown-item a:hover{
						    background:#dedede;
						    color:#333;
						} */
div#nav {
	position: relative;
}

div#nav a {
	padding: 5px 12px;
}

/* .dropdowntoggle {
	padding: 0;
} */

ul.dropdownshow {
	display: none;
	min-width: 122px;
	position: absolute;
	max-width: 100%;
	top: 100%;
	margin-top: 0px;
	padding: 0px;
	background: #fff;
	box-shadow: -1px 0px 6px #c3c3c3;
	border-radius: 4px;
	z-index: 99999;
}

ul.dropdownshow li {
	list-style-type: none;
}

ul.dropdownshow li a {
	text-decoration: none;
	padding: 0em 1em;
	display: block;
	color: #333;
}

ul.dropdownshow li a:hover {
	background: #dedede;
}
</style>
					<div class="col-lg-2 col-md-3 col-12">

						<div class="right-bar" th:if="${session.myEmail}">
							<ul>
								<li><a th:href="@{/customer/dashboard}">Dashboard</a></li>
								<li><a href="#" th:href="@{/customer/settings}">Settings</a></li>
								<li><a th:href="@{/customer/logout}" type="submit">Logout
								</a></li>
							</ul>
							<br>

						</div>




					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
			<div class="container">
				<div class="cat-nav-head">
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category">
								<h3 class="cat-heading">
									<i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES
								</h3>
								<ul class="main-category">
									


									<li th:each="pCategory : ${category}"><a href="#!"><span
											th:value="${pCategory.categoryId}"
											th:text="${pCategory.categoryTitle}">accessories</span></a></li>

								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
												<li><a href="#">Home</a></li>
												<li><a href="#!">About Us</a></li>
												<li><a href="#!" th:href="@{/products}">Product</a></li>
												<!-- <li><a href="#!">Service</a></li> -->
												<!-- <li><a href="#!">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="#!">Shop men</a></li>
															<li><a href="#!">Cart</a></li>
															<li><a href="#!">Checkout</a></li>
														</ul>
													</li> -->
												<li><a href="#!">Contact Us</a></li>
											</ul>
										</div>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>



	<!--/ End Header -->

	<!-- Slider Area -->
	<section class="hero-slider">
		<div class="single-slider"
			th:style="'background: url(/mylibraries/images/webimg/banner.jpg) no-repeat center center ;'">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1>
											<span>UP TO 50% OFF </span>Shirt For Man
										</h1>
										<p>
											Maboriosam in a nesciung eget magnae <br> dapibus
											disting tloctio in the find it pereri <br> odiy
											maboriosm.
										</p>
										<div class="button">
											<a href="#!" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Slider Area -->

	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="images/collection1.png" alt="#"
							th:src="@{/mylibraries/images/webimg/collection1.png}">
						<div class="content">
							<p>Man's Collectons</p>
							<h3>
								Summer travel <br> collection
							</h3>
							<a href="#!">Discover Now</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="images/collection2.png" alt="#"
							th:src="@{/mylibraries/images/webimg/collection2.png}">
						<div class="content">
							<p>Bag Collectons</p>
							<h3>
								Awesome Bag <br> 2020
							</h3>
							<a href="#!">Shop Now</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height">
						<img src="images/collection3.png" alt="#"
							th:src="@{/mylibraries/images/webimg/collection3.png}">
						<div class="content">
							<p>Flash Sale</p>
							<h3>
								Mid Season <br> Up to <span>40%</span> Off
							</h3>
							<a href="#!">Discover Now</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Small Banner -->

	<!-- Start Product Area -->
	<div class="product-area section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Trending Item</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="product-info">
						<!-- <div class="nav-main">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Man</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Woman</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Kids</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Accessories</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Essential</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a></li>
								</ul>
							</div> -->
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="man" role="tabpanel">
								<div class="tab-single">
									<div class="row" th:if="${dbproductImages}">

										<div class="col-xl-3 col-lg-4 col-md-4 col-12"
											th:each="imageGallery, count : ${dbproductImages}">
											<div class="single-product">
												<div class="product-img">
													<a href="#"
														th:href="@{/image/imageDetails(id=${imageGallery.productId})}"
														target="_blank"> <img class="default-img"
														src="images/product/1.webp" alt="#"
														th:src="@{${'/image/display/'+ imageGallery.productId}}">
														<!-- <img class="hover-img" src="images/product/1-2.webp" alt="#" th:src="@{/mylibraries/images/webimg/product/1-2.webp}"> -->
													</a>

													<div class="button-head">
														<div class="product-action">
															<a data-toggle="modal"
																th:href="@{/image/imageDetails(id=${imageGallery.productId})}"
																target="_blank" data-target="#exampleModal"
																title="Quick View" href="#!"><i class=" ti-eye"></i><span>View
																	Details</span></a> <a title="Wishlist" href="#"><i
																class="ti-heart"></i><span>Add to Wishlist</span></a>

															<!--  <span
																class="producteshare" title="Share"> <i
																class="ti-sharethis"></i> <span class="shareicon">
																	<a href="https://www.facebook.com/" target="_blank"
																	th:href="@{'https://www.facebook.com/sharer/sharer.php?u='+${imageGallery.link} + '&amp; src=sdkpreparse'}"><i
																		class="ti-facebook"></i></a><br> <a href="https://mail.google.com/"><i class="ti-email"></i></a>
																	<a href="#!" target="_blank"
																	th:href="@{'https://wa.me/?text='+ ${imageGallery.productname} +': '+ ${imageGallery.link}}"><i
																		class="fa fa-whatsapp" aria-hidden="true"></i></a><br>


																	<a href="https://www.instagram.com/"><i
																		class="ti-instagram"></i></a> <a
																	th:onclick="myFunction([[${'copylink' + imageGallery.productId}]])"><i
																		class="ti-layers"></i> <span
																		th:id="${'copylink' + imageGallery.productId +'copied'}">Copy
																			Link</span></a>

															</span>
															</span> -->


														</div>
														<input type="hidden" th:value="${imageGallery.link}"
															th:id="${'copylink' + imageGallery.productId}">
													</div>


												</div>







												<div class="product-content">
													<h3>
														<a href="#"><span
															th:text="${imageGallery.productname}"></span></a>
													</h3>
													<div class="product-price">
														<span th:text="${imageGallery.price}"></span>
													</div>
												</div>
											</div>
										</div>








									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Product Area -->

	<!-- Start Midium Banner  -->
	<section class="midium-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img src="images/subbanner-1.jpg" alt="#"
							th:src="@{/mylibraries/images/webimg/subbanner-1.jpg}">
						<div class="content">
							<p>Man's Collectons</p>
							<h3>
								Man's items <br>Up to<span> 50%</span>
							</h3>
							<a href="#">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img src="images/subbanner-2.jpg" alt="#"
							th:src="@{/mylibraries/images/webimg/subbanner-2.jpg}">
						<div class="content">
							<p>shoes women</p>
							<h3>
								mid season <br> up to <span>70%</span>
							</h3>
							<a href="#" class="btn">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Midium Banner -->


	<!-- Start Most Popular -->
	<div class="product-area most-popular section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Hot Item</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="owl-carousel popular-slider">

						<div class="single-product">
							<div class="product-img">
								<a href="#!"> <img class="default-img"
									src="images/product/5.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/5.jpg}"> <img
									class="hover-img" src="images/product/5-2.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/5-2.jpg}"> <span
									class="out-of-stock">Hot</span>
								</a>
								<div class="button-head">
									<div class="product-action">
										<a data-toggle="modal" data-target="#exampleModal"
											title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick
												Shop</span></a> <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add
												to Wishlist</span></a> <a title="Compare" href="#"><i
											class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
									</div>
									<div class="product-action-2">
										<a title="Add to cart" href="#">Add to cart</a>
									</div>
								</div>
							</div>
							<div class="product-content">
								<h3>
									<a href="#!">Black Sunglass For Women</a>
								</h3>
								<div class="product-price">
									<span class="old">$60.00</span> <span>$50.00</span>
								</div>
							</div>
						</div>

						<div class="single-product">
							<div class="product-img">
								<a href="#!"> <img class="default-img"
									src="images/product/6.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/6.jpg}"> <img
									class="hover-img" src="images/product/6-2.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/6-2.jpg}">
								</a>
								<div class="button-head">
									<div class="product-action">
										<a data-toggle="modal" data-target="#exampleModal"
											title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick
												Shop</span></a> <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add
												to Wishlist</span></a> <a title="Compare" href="#"><i
											class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
									</div>
									<div class="product-action-2">
										<a title="Add to cart" href="#">Add to cart</a>
									</div>
								</div>
							</div>
							<div class="product-content">
								<h3>
									<a href="#!">Women Hot Collection</a>
								</h3>
								<div class="product-price">
									<span>$50.00</span>
								</div>
							</div>
						</div>

						<div class="single-product">
							<div class="product-img">
								<a href="#!"> <img class="default-img"
									src="images/product/7.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/7.jpg}"> <img
									class="hover-img" src="images/product/7-2.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/7-2.jpg}"> <span
									class="new">New</span>
								</a>
								<div class="button-head">
									<div class="product-action">
										<a data-toggle="modal" data-target="#exampleModal"
											title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick
												Shop</span></a> <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add
												to Wishlist</span></a> <a title="Compare" href="#"><i
											class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
									</div>
									<div class="product-action-2">
										<a title="Add to cart" href="#">Add to cart</a>
									</div>
								</div>
							</div>
							<div class="product-content">
								<h3>
									<a href="#!">Awesome Pink Show</a>
								</h3>
								<div class="product-price">
									<span>$50.00</span>
								</div>
							</div>
						</div>

						<div class="single-product">
							<div class="product-img">
								<a href="#!"> <img class="default-img"
									src="images/product/8.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/8.jpg}"> <img
									class="hover-img" src="images/product/8-2.jpg" alt="#"
									th:src="@{/mylibraries/images/webimg/product/8-2.jpg}">
								</a>
								<div class="button-head">
									<div class="product-action">
										<a data-toggle="modal" data-target="#exampleModal"
											title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick
												Shop</span></a> <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add
												to Wishlist</span></a> <a title="Compare" href="#"><i
											class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
									</div>
									<div class="product-action-2">
										<a title="Add to cart" href="#">Add to cart</a>
									</div>
								</div>
							</div>
							<div class="product-content">
								<h3>
									<a href="#!">Awesome Bags Collection</a>
								</h3>
								<div class="product-price">
									<span>$50.00</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Most Popular Area -->
	<!-- Start Shop Services Area -->

	<div th:replace="mainlayout/mainlayout.html :: mainfooter"></div>


	<!-- /End Footer Area -->

	<!-- Jquery -->
	<!-- <script src="js/jquery.min.js"
		th:src="@{/mylibraries/js/webjs/jquery.min.js}" />
	<script src="js/jquery-migrate-3.0.0.js"
		th:src="@{/mylibraries/js/webjs/jquery-migrate-3.0.0.js}" />
	<script src="js/jquery-ui.min.js"
		th:src="@{/mylibraries/js/webjs/jquery-ui.min.js}" />
	<script src="js/bootstrap.min.js"
		th:src="@{/mylibraries/js/webjs/bootstrap.min.js}" />
	<script src="js/slicknav.min.js"
		th:src="@{/mylibraries/js/webjs/slicknav.min.js}" />
	<script src="js/owl-carousel.js"
		th:src="@{/mylibraries/js/webjs/owl-carousel.js}" />
	<script src="js/nicesellect.js"
		th:src="@{/mylibraries/js/webjs/nicesellect.js}" />
	<script src="js/easing.js" th:src="@{/mylibraries/js/webjs/easing.js}" />
	<script src="js/active.js" th:src="@{/mylibraries/js/webjs/active.js}" />
 -->






	<!-- <script>
		$(function() { // Dropdown toggle
			$('.dropdowntoggle').click(function() {
				$(this).next('.dropdownshow').slideToggle();
			});

			$(document).click(
					function(e) {
						var target = e.target;
						if (!$(target).is('.dropdowntoggle')
								&& !$(target).parents().is('.dropdowntoggle'))
						//{ $('.dropdown').hide(); }
						{
							$('.dropdownshow').slideUp();
						}
					});
		});
	</script> -->

	<script>
		function myFunction(id) {
			var copyText = document.getElementById(id);
			navigator.clipboard.writeText(copyText.value);
			document.getElementById(id + 'copied').innerHTML = "Link copied!";
			//alert("Copied the text: " + copyText.value);

		}
	</script>
</body>





</html>