<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- head section -->
	<header th:fragment="head">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex,nofollow">
		<title>gogoGlobal.LIFE</title>
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16"
			src="./images/favicon.png" th:src="@{/myuser/images/favicon.png}">
		<!-- Custom CSS -->
		<link href="./css/style.min.css" rel="stylesheet"
			th:href="@{/myuser/css/style.min.css}">
		<link href="./css/responsive.css" rel="stylesheet"
			th:href="@{/myuser/css/responsive.css}">
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="./css/fontawesome.min.css"
			th:href="@{/myuser/css/fontawesome.min.css}" rel="stylesheet">
		<link
			th:href="@{/myuser/plugins/bower_components/chartist/dist/chartist.min.css}"
			rel="stylesheet">
		<link rel="stylesheet"
			th:href="@{/myuser/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css}">
	</header>



	<!-- header section -->



	<header class="topbar top_header responsive_head" data-navbarbg="skin5"
		th:fragment="header">
		<nav class="navbar top-navbar navbar-expand-md navbar-dark">
			<div class="navbar-header" data-logobg="skin6">
				<!-- Logo -->
				<a class="navbar-brand navbar_logo" href="dashboard.html"> <span
					class="logo-icon icon_logo"> <img src="images/logopng.png"
						alt="logo-img">
				</span>
				</a>
				<!-- toggle and nav items -->
				<a
					class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
					href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
			</div>
			<i class='fas fa-bars'
				style='color: #4691ce; font-size: 22px; margin-left: 10px;'></i>
			<!-- ============================================================== -->
			<!-- End Logo -->
			<!-- ============================================================== -->
			<div class="navbar-collapse collapse collapse_navbar"
				id="navbarSupportedContent" data-navbarbg="skin5">
				<ul class="navbar-nav d-none d-md-block d-lg-none">
					<li class="nav-item"><a
						class="nav-toggler nav-link waves-effect waves-light text-white"
						href="javascript:void(0)"><i class="ti-menu ti-close"></i></a></li>
				</ul>
				<!-- ============================================================== -->
				<!-- Right side toggle and nav items -->
				<!-- ============================================================== -->
				<ul class="navbar-nav ms-auto d-flex align-items-center">
					<li class=" in">
						<form role="search" class="app-search d-none d-md-block me-3">
							<input type="text" placeholder="Search..."
								class="form-control mt-0 border_color"> <a href=""
								class="active"> <i class="fa fa-search"
								style="color: #4691ce;"></i>
							</a>
						</form>
					</li>

					<li class="dropdown"><a class="profile-pic"
						data-bs-toggle="dropdown" href="#"> <img
							src="/myuser/plugins/images/users/varun.jpg"
							th:src="@{/myuser/plugins/images/users/varun.jpg}" alt="user-img"
							width="36" class="img-circle"> <span
							class="text-white font-medium"
							th:text="${user_details.firstname}"> <i
								class="fa fa-caret-down" aria-hidden="true"></i>
						</span></a> <!-- <a class="profile-pic"
						href="users/profile-details.html" th:href="@{/profile-details}" class="dropdown-toggle"
						data-bs-toggle="dropdown"> <img
							src="/myuser/plugins/images/users/varun.jpg" th:src="@{/myuser/plugins/images/users/varun.jpg}" alt="user-img" width="36"
							class="img-circle">
							<span class="text-white font-medium">Steave
								<i class="fa fa-caret-down" aria-hidden="true"></i>
						</span>
					</a> -->

						<ul class="dropdown-menu profileDropdown">
							<li><a class="dropdown-item"
								href="myusers/profile-details.html"
								th:href="@{'/user/profile-details/'+${user_details.userid}}">Profile</a></li>
							<li><a class="dropdown-item" href="myusers/mysetting.html"
								th:href="@{/user/settings}">Setting</a></li>
							<li><a class="dropdown-item" href="myusers/login.html"
								th:href="@{/logout}">Log Out</a></li>
						</ul></li>

					<li class="notification_bell"><a href="#" class="color_white"><i
							class="fas fa-bell"></i></a> <span class="noti_number">5</span></li>
					<li class="comment_chat"><a href="#" class="color_white"><i
							class="far fa-comment-alt"></i></a> <span class="chat_number">7</span>
					</li>
					<!-- ============================================================== -->
					<!-- User profile and search -->
					<!-- ============================================================== -->
				</ul>
			</div>
		</nav>
	</header>






	<!-- side menu -->

	<!-- ============================================================== -->
	<aside class="left-sidebar left_aside" data-sidebarbg="skin6"
		th:fragment="sidemenu">
		<!-- Sidebar scroll-->
		<div class="scroll-sidebar">
			<!-- Sidebar navigation-->
			<nav class="sidebar-nav">
				<ul id="sidebarnav" class="nav_bar_side">
					<!-- User Profile-->
					<li class="sidebar-item pt-2"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="users/business-panel-dashboard.html" th:href="@{/user/home}"
						aria-expanded="false"> <i
							class="fas fa-tachometer-alt leftside_icon"></i> <span
							class="hide-menu">Dashboard</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/my-affiliate.html" th:href="@{/user/myaffiliate}"  aria-expanded="false"> <i
							class="fas fa-user-plus leftside_icon"></i> <span
							class="hide-menu">My Affiliate</span>
					</a></li>
					<li class="sidebar-item">
						<!--                             <a class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar" href="./sales_by_affiliate.html"
                               th:href="@{/sales_by_affiliate}  aria-expanded="false">
                                <i class="fas fa-users leftside_icon"></i>
                                <span class="hide-menu">Sales By Affiliate </span>
                            </a> -->
					</li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/payment.html" th:href="@{/user/payment}" aria-expanded="false">
							<i class="fas fa-users leftside_icon"></i> <span
							class="hide-menu">Total Sale</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/mysetting.html" th:href="@{/user/settings}"
						aria-expanded="false"> <i class="fas fa-cog leftside_icon"></i>
							<span class="hide-menu">Settings</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/notification.html" th:href="@{/user/notification}"
						aria-expanded="false"> <i class="fas fa-bell leftside_icon"></i>
							<span class="hide-menu">Notifications</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/faq.html" aria-expanded="false"> <i
							class="fas fa-question-circle leftside_icon"></i> <span
							class="hide-menu">FAQ</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/contact-us.html" th:href="@{/user/contact-us}"
						aria-expanded="false"> <i
							class="fas fa-address-card leftside_icon"></i> <span
							class="hide-menu">Contact Us</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/term-condition.html" th:href="@{/user/term-condition}"
						aria-expanded="false"> <i
							class="fas fa-certificate leftside_icon" aria-hidden="true"></i>
							<span class="hide-menu">Terms & Conditions</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/privacy-policy.html" th:href="@{/user/privacy-policy}"
						aria-expanded="false"> <i
							class="fas fa-file-alt leftside_icon"></i> <span
							class="hide-menu">Privacy & Policy</span>
					</a></li>
					<li class="sidebar-item"><a
						class="sidebar-link waves-effect waves-dark sidebar-link link_sidebar"
						href="user/login.html" th:href="@{/logout}" aria-expanded="false">
							<i class="fas fa-power-off leftside_icon"></i> <span
							class="hide-menu">Log Out</span>
					</a></li>
				</ul>
			</nav>




			<!-- End Sidebar navigation -->
		</div>
		<!-- End Sidebar scroll-->
	</aside>


	<!-- footer section -->
	<footer class="footer text-center footer_text" th:fragment="footer">
		2022 © All rights reserved. <a class="footer_link" href="#">gogoGlobal</a>
	</footer>

	<!-- 	script links -->
	<div th:fragment="script-links">
		<script
			src="/myuser/plugins/bower_components/jquery/dist/jquery.min.js"
			th:src="@{/myuser/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
		<!-- Bootstrap tether Core JavaScript -->
		<script src="/myuser/bootstrap/dist/js/bootstrap.bundle.min.js"
			th:src="@{/myuser/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
		<script src="/myuser/js/app-style-switcher.js"
			th:src="@{/myuser/js/app-style-switcher.js}"></script>
		<script
			src="/myuser/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"
			th:src="@{/myuser/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js}"></script>
		<!--Wave Effects -->
		<script src="/myuser/js/waves.js" th:src="@{/myuser/js/waves.js}"></script>
		<!--Menu sidebar -->
		<script src="/myuser/js/sidebarmenu.js"
			th:src="@{/myuser/js/sidebarmenu.js}"></script>
		<!--Custom JavaScript -->
		<script src="/myuser/js/custom.js" th:src="@{/myuser/js/custom.js}"></script>
		<!--This page JavaScript -->
		<!--chartis chart-->
		<script
			src="/myuser/plugins/bower_components/chartist/dist/chartist.min.js"
			th:src="@{/myuser/plugins/bower_components/chartist/dist/chartist.min.js}"></script>
		<script
			src="/myuser/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"
			th:src="@{/myuser/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
		<script src="/myuser/js/pages/dashboards/dashboard1.js"
			th:src="@{/myuser/js/pages/dashboards/dashboard1.js}"></script>
		<script type="text/javascript"
			src="https://code.jquery.com/jquery-1.12.0.min.js"
			th:src="@{https://code.jquery.com/jquery-1.12.0.min.js}"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"
			th:src="@{https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js}"></script>
		<script src="/myuser/js/char/t.js" th:src="@{/myuser/js/char/t.js}"></script>
		<script src="/myuser/js/pie-chart.js"
			th:src="@{/myuser/js/pie-chart.js}"></script>
		<script src="/myuser/assets/vendors/highlight.js"
			th:src="@{/myuser/assets/vendors/highlight.js}"></script>
		<script src="/myuser/assets/js/app.js"
			th:src="@{/myuser/assets/js/app.js}"></script>
	</div>

</body>
</html>